canvas {
  border: 1px solid black;
  margin: 0;
}

body {
  text-align: center;
  padding: 0;
  width: 640px;
  margin: 0 auto;
}

div {
  background-color: #cccccc;
}

#redHP {
  float: left;
  width: 150px;
  font-family: fantasy;
  font-size: 48px;
  color: red;
  background-color: #ffaaaa;
}

#redEng {
  float: left;
  width: 150px;
  font-family: fantasy;
  font-size: 48px;
  color: blue;
  background-color: #ffaaaa;
}

#blueHP {
  float: right;
  width: 150px;
  font-family: fantasy;
  font-size: 48px;
  color: red;
  background-color: #aaaaff;
}

#blueEng {
  float: right;
  width: 150px;
  font-family: fantasy;
  font-size: 48px;
  color: blue;
  background-color: #aaaaff;
}
